@charset "utf-8";
body {
	font-size:13px;
	color:#000000;
	font-family: "Microsoft YaHei", Arial, Verdana, sans-serif;
	background:#f5f5f5;
}
ul, ol, dl, dd {
	padding:0px;
	margin:0px;
	list-style-type: none;
}
* {
	margin:0px;
	padding: 0px;
}
img {
	border:none;
}

select, input, select {
	margin:0;
	font-size:12px;
	font-family:"Microsoft YaHei", Arial, Verdana, sans-serif;
	vertical-align:middle;
}
input,button,select,textarea{ outline:none;} 
textarea{ font-size:13px; resize:none;} 
a:link {
	color:#666666;
	text-decoration:none;
}
a:visited {
	color:#666666;
	text-decoration:none;
}
a:hover {
	color:#f08519;
	text-decoration:none;
}
.clear {
	clear:both;
}
.container{
	width:980px;
	margin:0 auto;
}
h1{ font-size:14px; font-weight:bold;}
/*header*/
.header{
	width:100%;
	height:auto;
	background:#ffffff;
}
.header_top{
	width:100%;
	height:40px;
	background:#58626e;
}
.header_top_con{
	width:1200px;
	height:40px;
	line-height:40px;
	margin:0 auto;
}
.header_top_l{
	width:600px;
	height:40px;
	float:left;
	color:#ffffff;
}
.header_top_l span{ float:right;}
.header_top_l a{ color:#ffffff !important; float:right;}
.header_top_l a:hover{ color:#f08519 !important; float:right;}
.header_xiao{ float:right; position:relative; margin-right:20px;}
.header_xiao img{ float:right; margin:11px 0 0 0;}
.header_xiao font{
	width:15px;
	height:15px;
	display:block;
	position:absolute;
	border-radius:500px;
	background:#ff0000;
	color:#ffffff;
	line-height:15px;
	text-align:center;
	top:3px;
	left:10px;
}
.header_con{
	width:1200px;
	height:100px;
	margin:0 auto;
}
.logo{
	width:320px;
	height:100px;
	float:left;
}
.logo img{ float:left;}
.logo1{
	width:580px;
	height:100px;
	float:left;
}
.logo1 img{ float:left;}
.logo1 span{
	display:inline-block;
	padding-left:20px;
	color:#666666;
	font-size:24px;
	border-left:1px solid #cccccc;
	height:70px;
	line-height:70px;
	margin-top:15px;
}
.logo span{
	display:inline-block;
	padding-left:20px;
	color:#666666;
	font-size:24px;
	border-left:1px solid #cccccc;
	height:70px;
	line-height:70px;
	margin-top:15px;
}
.tel{
	width:231px;
	height:67px;
	float:right;
	margin-top:12px;
}
.menu{
	width:880px;
	height:68px;
	float:left;
	padding:32px 0 0 0;
}
.menu ul{ float:right;}
.menu li{
    float: left;
    height: 63px;
    line-height: 55px;
    white-space: nowrap;
}
.menu li a{
	float:left;
	padding:0 35px 0 35px;
	font-size:18px;
	color:#000000;
}
.btn-area a {
    float: right;
    display: inline;
    height: 26px;
    line-height: 26px;
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #000000;
    margin-left: 15px;
    border-radius: 3px;
    padding: 0 15px 0 15px;
    font-size: 1em;
}
.menu li a:hover{background:#f5f5f5; color:#3e70ca !important; border-top:5px solid #3e70ca; height:63px;}
.menu_hover a{ background:#f5f5f5; color:#3e70ca !important; border-top:5px solid #3e70ca; height:63px;}

.main_body{
	width:1200px;
	height:auto;
	margin:30px auto 0 auto;
}
.lines{
	width:100%;
	height:103px;
}
.lines li{
	width:380px;
	height:103px;
	float:left;
	margin-right:30px;
	background:#ffffff;
	-webkit-box-shadow:0 0 15px #cccccc;  
    -moz-box-shadow:0 0 15px #cccccc;  
    box-shadow:0 0 15px #cccccc;
}
.lines_l{
	width:103px;
	height:103px;
	float:left;
}
.lines_r{
	width:277px;
	height:83px;
	float:left;
	text-align:center;
	font-size:18px;
	color:#666666;
	padding:20px 0 0 0;
	line-height:34px;
}
.lines_r span{ display:block; color:#000000; font-size:24px;}
.lines_rong{
	background:#ff6600;
	color:#ffffff !important;
	border-radius:5px;
	font-size:14px;
	padding:5px 10px 5px 10px;
	margin-left:20px;
}
.main{
	width:1158px;
	height:auto;
	background:#ffffff;
	border:1px solid #cccccc;
	margin-top:20px;
	padding:20px;
}
.curve{
	width:100%;
	height:auto;
}
.curve_left{
	width:569px;
	height:350px;
	float:left;
	margin-right:20px;
}
.curve_header{
	width:568px;
	height:40px;
	line-height:40px;
	background:url(../images/curve_bg.jpg) repeat-x;
	border-right:1px solid #425261;
	font-size:16px;
	color:#ffffff;
}
.curve_header img{ float:left; margin-right:15px;}
.curve_con{
	width:527px;
	height:269px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background:#ffffff;
	padding:20px;
}
.curve_right{
	width:569px;
	height:350px;
	float:left;	
}
.core{
	width:1158px;
	height:202px;
	margin-top:20px;
}
.core li{
	width:537px;
	height:140px;
	border:1px solid #cccccc;
	float:left;
	margin-right:20px;
	background:#f6f6f6;
	padding:15px 15px 15px 15px;
}
.core_left{
	width:118px;
	height:140px;
	float:left;
	margin-right:20px;
}
.core_left img{ display:block;}
.core_right{
	width:399px;
	height:140px;
	float:left;
}
.core_title{
	width:100%;
	height:40px;
	line-height:40px;
	font-size:18px;
	color:#000000;
	display:block;
}
.core_title span{ float:left; margin-right:10px;}
.core_title font{
	width:22px;
	height:22px;
	float:left;
	border-radius:500px;
	background:#ff0000;
	color:#ffffff;
	line-height:22px;
	text-align:center;
	font-size:14px;
}
.core_nei{
	width:100%;
	height:48px;
	line-height:24px;
	display:block;
	color:#666666;
	font-size:14px;
}
.core_an{
	display:block;
	width:146px;
	height:48px;
	background:url(../images/button.png) no-repeat;
	text-align:center;
	line-height:48px;
	font-size:14px;
	color:#333333 !important;
	margin-top:8px;
}

.footer{
	width:100%;
	height:auto;
	margin-top:30px;
	background:#58626e;
	padding:25px 0 25px 0;
}
.footer_con{
	width:1200px;
	height:auto;
	margin:0 auto;
	position:relative;
	text-align:center;
	min-height:76px;
	overflow:hidden;
}
.footer_con img{ float:left;}
.footer_wei{ position:absolute; top:0px; right:0px; height:76px;}
.footer_tel{ position:absolute; top:0px; left:0px;}
.footer_nei{
	width:100%;
	height:auto;
	line-height:30px;
	font-size:14px;
	color:#ffffff;
	padding-top:6px;
}
.footer_nei a{ color:#ffffff !important; padding:0 10px 0 10px;}

/*供应商管理*/
.rong_nav{
	width:1200px;
	height:54px;
}
.rong_nav li{
	width:auto;
	height:54px;
	float:left;
	text-align:center;
	font-size:18px;
}
.nav_a{
	width:auto;
	height:54px;
	line-height:54px;
	display:block;
	color:#ffffff !important;
	background:#3e70ca;
	padding:0 30px 0 30px;
}
.nav_b{
	width:auto;
	height:46px;
	line-height:46px;
	display:block;
	color:#333333 !important;
	background:#ffffff;
	border:1px solid #cccccc;
	margin-top:6px;
	padding:0 35px 0 35px;
}
.supplier{
	width:1128px;
	height:auto;
	border:1px solid #cccccc;
	background:#ffffff;
	padding:0 35px 0 35px;
	top:-1px;
	position:relative;
}
.supplier_top{
	width:100%;
	height:auto;
	padding:15px 0 25px 0;
	border-bottom:1px solid #cccccc;
}
.supplier_li{ float:left; margin-right:90px; height:30px; line-height:30px; margin-top:6px;}
.supplier_li1{ float:left; margin-right:0px; height:30px; line-height:30px; margin-top:6px;}
.supplier_li2{ float:left; margin-right:40px; height:30px; line-height:30px; margin-top:6px;}
.supplier_name{
	width:110px;
	float:left;
	padding-right:10px;
	text-align:right;
	font-size:14px;
	color:#666666;
}
.text{
	width:204px;
	height:28px;
	line-height:28px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
}
.text2{
	width:160px;
	height:28px;
	line-height:28px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
}
.select{
	width:106px;
	height:28px;
	line-height:28px;
	float:left;
	border:1px solid #cccccc;
	font-size:14px;
	border-radius:3px;
}
.select1{
	width:206px;
	height:28px;
	line-height:28px;
	float:left;
	border:1px solid #cccccc;
	font-size:14px;
	border-radius:3px;
}
.supplier_top a{ display:inline-block;}
.supplier_con{
	width:100%;
	height:auto;
	margin-top:20px;
}
.supplier_zi{
	width:100%;
	height:40px;
	line-height:40px;
	font-size:18px;
}
.supplier_table{
	width:100%;
	height:auto;
	margin-top:10px;
	color:#666666;
}
.supplier_table table{ border:1px solid #cccccc; border-collapse:collapse;}
.supplier_table table td{ border:1px solid #cccccc; padding:8px 0 8px 0; text-align:center; line-height:18px;}
.supplier_table table td .checkbix+label{ margin:0 3px 0 10px;}
.supplier_title{ background:#eeeeee; color:#000000; font-size:14px;}
.se1{ color:#ff0000 !important;}
.se2{ color:#3e70ca !important;}
.se3{ color:#000000 !important;}
.se4{ color:#ff6600 !important;}
.se5{ color:#409b05 !important;}
.xiang{ color:#ff6600 !important; text-decoration:underline;}
.page{
	width:100%;
	height:auto;
	line-height:30px;
	text-align:right;
	margin:25px 0 25px 0;
}
.page li{
	display:inline;
	white-space:nowrap;
	margin:0 2px 0 2px;
}
.page li a{ padding:6px 12px 6px 12px; background:#f8f8f8; border:1px solid #cccccc; color:#333333 !important;}
.page li a:hover{ padding:6px 12px 6px 12px; background:#3e70ca; border:1px solid #3e70ca; color:#ffffff !important;text-decoration:none;}
.page_hover a:link{ padding:6px 12px 6px 12px; background:#3e70ca; border:1px solid #3e70ca; color:#ffffff !important;}
.page_hover a:visited{ padding:6px 12px 6px 12px; background:#3e70ca; border:1px solid #3e70ca; color:#ffffff !important;}
.page_hover a:hover{ padding:6px 12px 6px 12px; background:#3e70ca; border:1px solid #3e70ca; color:#ffffff !important;}
.page li span{ margin:0 0px 0 8px;}
.page_text{
	width:32px;
	height:16px;
	line-height:16px;
	text-align:center;
	background:#f8f8f8;
	border:none;
	padding:3px 0 3px 0;
	border:1px solid #cccccc;
	margin:-3px 0 0 8px;
}
.page_button{
	width:36px;
	padding:4px 0 4px 0;
	background:#f8f8f8;
	border:none;
	border:1px solid #cccccc;
	cursor:pointer;
	margin:-3px 0 0 0;
}
.page_select{
	width:40px;
	border:1px solid #cccccc;
	margin-right:6px;
	margin-top:-3px;
}
.supplier_zi1{
	width:100%;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#666666;
}
.supplier_zi1 span{ display:inline-block; padding-top:10px; height:30px; line-height:30px;}
.button{
	width:156px;
	height:39px;
	line-height:39px;
	float:right;
	background:url(../images/button1.png) no-repeat;
	text-align:center;
	color:#ffffff !important;
	font-size:16px;
}
.button1{
	width:156px;
	height:39px;
	line-height:39px;
	float:right;
	background:url(../images/button2.png) no-repeat;
	text-align:center;
	color:#ffffff !important;
	font-size:16px;
	margin-right:25px;
}
.button2{
	width:126px;
	height:40px;
	line-height:38px;
	float:left;
	background:url(../images/button3.png) no-repeat;
	text-align:center;
	color:#000000 !important;
	font-size:16px;
	margin-right:20px;
}
.yao1{ padding:4px 0 4px 0; background:#40d0a7; border-radius:3px; width:60px; display:inline-block; color:#ffffff !important;}
.yao2{ padding:4px 0 4px 0; background:#ee6a71; border-radius:3px; width:60px; display:inline-block; color:#ffffff !important;}
.yao3{ padding:2px 0 2px 0; background:#3e70ca; border-radius:3px; width:60px; display:inline-block; color:#ffffff !important; margin:0 5px 0 5px; float:left;}
.yao4{ padding:2px 0 2px 0; background:#ff6600; border-radius:3px; width:60px; display:inline-block; color:#ffffff !important; margin:0 5px 0 0px; float:right;}
.yao5{ padding:2px 0 2px 0; background:#ff6600; border-radius:3px; width:100px; display:inline-block; color:#ffffff !important; margin:0 5px 0 5px; float:left;}
.yao6{ padding:4px 0 4px 0; background:#40d0a7; border-radius:3px; width:120px; display:inline-block; color:#ffffff !important;}
.yao7{ padding:2px 0 2px 0; background:#ff6600; border-radius:3px; width:100px; display:inline-block; color:#ffffff !important;}
.yao8{ padding:2px 0 2px 0; background:#ff6600; border-radius:3px; width:60px; display:inline-block; color:#ffffff !important; margin:0 5px 0 5px;}
.yao9{ padding:2px 0 2px 0; background:#3e70ca; border-radius:3px; width:60px; display:inline-block; color:#ffffff !important; margin:0 5px 0 5px;}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 100001;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: fixed;
}
.popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width:400px;
	height: 200px;
	background: #ffffff;
	z-index: 100002;
	margin: -100px 0 0 -200px;
	position: fixed;
	border-radius: 3px;
	overflow: hidden;
}
.popup_title {
	width:100%;
	height:40px;
	line-height:40px;
	background: #f2f2f2;
	position: relative;
	font-size: 1.2em;
	border-bottom: 1px solid #cccccc;
	font-size:16px;
}
.popup_title a {
	display: block;
	position: absolute;
	top: 6px;
	right: 15px;
}
.popup_title span{ float:left; width:4px; height:18px; background:#3e70ca; margin:11px 10px 0 15px; }
.popup_title a img {
	display: block;
	width: 28px;
	height: 28px;
}
.popup_nei{
	width:100%;
	height:108px;
	text-align:center;
	line-height:108px;
	font-size:16px;
}
.popup_bot {
	width: 100%;
	height: 50px;
	padding:7px 0 7px 0;
	text-align: center;
	background: #f2f2f2;
	border-top: 1px solid #cccccc;
	font-size:14px;
	overflow:hidden;
}
.popup_a {
	width:150px;
	display: inline-block;
	height:36px;
	line-height: 36px;
	background: #ff6600;
	color: #ffffff !important;
	border-radius: 5px;
	margin:0 20px 0 20px;
}
.popup_b {
	width:150px;
	display: inline-block;
	height:36px;
	line-height: 36px;
	background: #b0b0b0;
	color: #ffffff !important;
	border-radius: 5px;
	margin:0 20px 0 20px;
}
.popup1 {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width:600px;
	height: 400px;
	background: #ffffff;
	z-index: 100002;
	margin: -200px 0 0 -300px;
	position: fixed;
	border-radius: 3px;
	overflow: hidden;
}
.popup2 {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width:600px;
	height: 460px;
	background: #ffffff;
	z-index: 100002;
	margin: -230px 0 0 -300px;
	position: fixed;
	border-radius: 3px;
	overflow: hidden;
}
.popup_tian{
	width:600px;
	height:298px;
	padding-top:10px;
}
.popup_tian1{
	width:600px;
	height:358px;
	padding-top:10px;
}
.popup_hang{ float:left; height:38px; line-height:38px; margin-top:25px; width:500px; padding-left:100px;}
.popup_hang2{ float:left; height:38px; line-height:38px; margin-top:10px; width:500px; padding-left:100px;}
.text1{
	width:204px;
	height:36px;
	line-height:36px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
	margin-right:10px;
}
.tishi{ float:left; line-height:38px;}
.tishi img{ float:left; width:20px; height:20px; margin:9px 8px 0 0;}
.popup_dao{
	width:600px;
	height:349px;
	padding-top:10px;
}
.dao_nav{
	width:600px;
	height:34px;
	line-height:34px;
	text-align:center;
	margin-top:20px;
	padding-bottom:25px;
}
.dao_nav span{
	display:inline-block;
	height:34px;
	padding:0 30px 0 30px;
	background:#dddddd;
	text-align:center;
	border-radius:500px;
}
.dao_nav label{
	display:inline-block;
	height:1px;
	width:20px;
	background:#cccccc;
	margin:0px 10px 0 10px;
	position:relative;
}
.dao_an{
	width:217px;
	height:59px;
	margin:20px auto 0 auto;
}
.dao_bot{
	width:400px;
	height:auto;
	margin:20px auto 0 auto;
	line-height:30px;
	font-size:14px;
	color:#666666;
}
.dao_bot a{
	display:inline-block;
	padding:0 10px 0 10px;
	border-radius:3px;
	background:#ff6600;
	color:#ffffff !important;
	margin-left:20px;
}
.a-upload {
	width:217px;
	height:59px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right:20px;
	float:left;
}
.a-upload  input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}

/*登录注册*/
.login{
	width:100%;
	height:100%;
	position:relative;
	background:url(../images/login2.jpg) no-repeat top center;
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
.login_footer{
	width:100%;
	height:60px;
	background:url(../images/login-bg.png);
	position:absolute;
	bottom:0px;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	padding:10px 0 10px 0;
	opacity: 0.6;
}
.login_con{
    width: 570px;
    height: 272px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -136px 0 0 -285px;
}
.login_logo{
	width:570px;
	height:100px;
	text-align:center;
	position:relative;
	top:-150px;
}
.login_logo img{ float:left;}
.login_logo span{
	display:inline-block;
	padding-left:20px;
	color:#666666;
	font-size:24px;
	border-left:1px solid #cccccc;
	height:70px;
	line-height:70px;
	margin-top:15px;
}
.login_kuang{
	width:570px;
	margin-top:10px;
	background:url(../images/login-bg.png);
	border-radius:10px;
	padding-top:10px;
	overflow:hidden;
	position:relative;
}
.login_hang{
	width:500px;
	height:50px;
	border-bottom:1px solid #666666;
	padding:8px 0 8px 0;
	margin:10px auto 0 auto;
}
.login_biao{ float:left; display:inline; margin:6px 20px 0 15px;}
.login_kan{ float:right; line-height:37px; color:#ffffff !important; margin-left:15px; display:inherit;}
.login_text{
	float:left;
	width:280px;
	height:37px;
	line-height:37px;
	border:none;
	background:none;
	font-size:14px;
	color:#ffffff;
}
.login_hang span{ float:right;}
.login_hang span img{ display:block; width:87px; height:37px;}
.login_ti{
	width:520px;
	height:40px;
	line-height:40px;
	color:#ff0000;
	padding-left:50px;
	font-size:14px;
}
.login_ti img{ float:left; width:20px; height:20px; margin:10px 10px 0 0;}
.login_bot{
	width:500px;
	height:40px;
	line-height:40px;
	margin: 10px auto;
	font-size:14px;
}
.login_bot a{ color:#ffffff !important;}
.login_deng{
	width:570px;
	height:72px;
	line-height:70px;
	text-align:center;
	font-size:20px;
	background:#e54e15;
}
.login_deng a{ color:#ffffff !important; display:block; width:100%;}
.reg_footer{
	width:100%;
	height:48px;
	line-height:24px;
	text-align:center;
	color:#999999;
	padding:20px 0 20px 0;
}
.reg_body{
	width:1100px;
	height:auto;
	margin:50px auto 0 auto;
	background:#ffffff url(../images/icon_09.png) no-repeat right bottom;
}
.reg_left{
	width:520px;
	height:auto;
	float:left;
	padding:0 0 0 60px;
	margin:40px 0 40px 0;
	border-right:1px solid #dddddd;
}
.reg_right{
	width:419px;
	height:auto;
	float:left;
	padding:40px 60px 0 40px;
}
.reg_header{
	width:100%;
	height:30px;
	line-height:30px;
	color:#666666;
	font-size:16px;
}
.reg_header1{
	width:100%;
	height:30px;
	line-height:30px;
	color:#666666;
	font-size:14px;
	text-align:right;
}
.reg_header1 a{ color:#ff0000 !important;}
.reg_qi{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:14px;
}
.reg_hang{
	width:100%;
	height:37px;
	margin-top:8px;
}
.reg_hang1{
	width:360px;
	height:37px;
	margin-top:15px;
}
.reg_l{
	width:340px;
	height:37px;
	line-height:37px;
	float:left;
	border-bottom:1px solid #cccccc;
	color:#333333;
	font-size:14px;
	position:relative;
}
.reg_r{
	width:158px;
	height:37px;
	float:left;
	padding-left:5px;
	color:#ff0000;
	line-height:37px;
}
.reg_r img{ float:left; width:20px; height:20px; margin:8px 8px 0 0;}
.reg_tu{ float:left; margin:9px 8px 0 0;}
.reg_name{ width:80px; float:left; text-align:right; padding-right:3px;}
.reg_text{
	width:230px;
	height:35px;
	float:left;
	line-height:35px;
	border:none;
	font-size:14px;
}
.reg_kan{
	float:right;
	color:#ff6600 !important;
	position:absolute;
	top:0px;
	right:0px;
	text-decoration:underline;
}
.disclose_kan{
	float:left;
	color:#ff6600 !important;
	text-decoration:underline;
}
.reg_tu1{
	width:87px;
	height:37px;
	position:absolute;
	top:1px;
	right:65px;
}
.reg_tu1 img{ width:87px; height:37px; display:block;}
.reg_yan{
	width:87px;
	height:37px;
	line-height:37px;
	display:block;
	background:#f08519;
	text-align:center;
	border:none;
	color:#ffffff;
	cursor:pointer;
	position:absolute;
	top:1px;
	right:0px;
}
.reg_yue{
	width:100%;
	margin-top:20px;
	font-size:14px;
	color:#666666;
}
.reg_yue a{ color:#ff6600 !important; text-decoration:underline;}
.reg_zhu{
	width:360px;
	height:40px;
	margin-top:15px;
}
.reg_submit1{
	width:358px;
	height:38px;
	border:1px solid #ff6600;
	line-height:38px;
	text-align:center;
	font-size:16px;
	color:#ff6600;
	background:#ffffff;
	cursor:pointer;
    float: left;
}
.reg_submit{
	width:150px;
	height:38px;
	border:1px solid #ff6600;
	line-height:38px;
	text-align:center;
	font-size:16px;
	color:#ff6600;
	background:#ffffff;
	cursor:pointer;
    float: left;
}
.reg_wen{
	width:319px;
	height:auto;
	padding:140px 0 0 100px;
	line-height:30px;
	font-size:14px;
	color:#666666;
	background:url(../images/icon_10.png) no-repeat top left;
	margin-top:40px;
}
.forgot{
	width:360px;
	height:auto;
	background:#ffffff;
	margin:50px auto 0 auto;
	padding:40px 100px 40px 100px;
}
.reg_ti{
	width:360px;
	height:40px;
	line-height:40px;
	color:#ff0000;
	font-size:14px;
}
.reg_ti img{ float:left; width:20px; height:20px; margin:10px 10px 0 0;}
.forgot_bot{
	width:360px;
	height:40px;
	margin-top:10px;
}
.forgot_a{
	width:130px;
	height:38px;
	line-height:38px;
	text-align:center;
	border:1px solid #ff6600;
	color:#ff6600 !important;
	font-size:16px;
	float:right;
}
.forgot_b{
	width:130px;
	height:38px;
	line-height:38px;
	text-align:center;
	border:1px solid #999999;
	color:#999999 !important;
	font-size:16px;
	float:left;
}
.successful{
	width:1100px;
	height:auto;
	margin:50px auto 0 auto;
	background:#ffffff;
	padding-top:40px;
}

.title_nav{
	width:726px;
	height:54px;
	line-height:54px;
	margin:0 auto 0 auto;
	background:url(../images/title_01.jpg) no-repeat;
}
.title_nav span{
	width:242px;
	height:54px;
	float:left;
	text-align:center;
	color:#666666;
	font-size:18px;
}
.title_nav2{
	width:726px;
	height:54px;
	line-height:54px;
	margin:0 auto 0 auto;
	background:url(../images/title_02.jpg) no-repeat;
}
.title_nav2 span{
	width:242px;
	height:54px;
	float:left;
	text-align:center;
	color:#666666;
	font-size:18px;
}
.title_nav3{
	width:726px;
	height:54px;
	line-height:54px;
	margin:0 auto 0 auto;
	background:url(../images/title_03.jpg) no-repeat;
}
.title_nav3 span{
	width:242px;
	height:54px;
	float:left;
	text-align:center;
	color:#666666;
	font-size:18px;
}
.successful_cheng{
	width:726px;
	height:auto;
	margin:0 auto;
	padding: 113px 0 120px 0;
}
.successful_l{
	width:260px;
	height:auto;
	float:left;
}
.successful_r{
	width:466px;
	height:auto;
	float:left;
}
.successful_title{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:20px;
	color:#ff0000;
}
.successful_nei{
	width:100%;
	height:auto;
	line-height:24px;
	font-size:16px;
	color:#666666;
	margin-top:20px;
}
.successful_nei a{ color:#ff6600 !important;}
.successful_link{
	width:100%;
	height:45px;
	margin-top:20px;
}
.successful_link a{
	display:inline-block;
	height:45px;
	line-height:45px;
	border-radius:5px;
	background:#33a6ff;
	color:#ffffff !important;
	font-size:18px;
	padding:0 30px 0 30px;
}
.successful_link span{ font-size:14px; color:#666666; padding-left:10px;}
.successful_xie{
	width:726px;
	height:auto;
	margin:40px auto 0 auto;
	padding-bottom:40px;
}
.successful_xie_nav{
	width:100%;
	height:40px;
	line-height:40px;
}
.successful_xie_nav li{
	width:140px;
	height:40px;
	line-height:40px;
	float:left;
	text-align:center;
	font-size:14px;
	cursor:pointer;
}
.successfulA{ background:#ff6600; color:#ffffff; border-radius:8px 8px 0 0;}
.successfulB{ background:#dddddd; color:#000000; border-radius:8px 8px 0 0;}
.successful_xie_con{
	width:100%;
	height:408px;
	border:1px solid #cccccc;
	padding:15px;
	font-size:14px;
	overflow-y:auto;
	overflow-x:hidden;
}
.successful_xie_bot{
	width:100%;
	height:45px;
	margin-top:10px;
}
.successful_a{
	float:right;
	width:168px;
	height:45px;
	line-height:45px;
	text-align:center;
	font-size:18px;
	color:#ffffff !important;
	background:#33a6ff;
	border-radius:8px;
	margin-left:25px;
	display:inline;
}
.successful_b{
	float:right;
	width:168px;
	height:45px;
	line-height:45px;
	text-align:center;
	font-size:18px;
	color:#ffffff !important;
	background:#dddddd;
	border-radius:8px;
}
.steps_nav{
	width:696px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	margin:30px auto 0 auto;
	padding-left:30px;
}
.steps_nav span{
	display:inline-block;
	margin:0 50px 0 50px;
	float:left;
}
.steps_nav label{
	width:36px;
	height:40px;
	display:inline-block;
	background:url(../images/icon_11.jpg) no-repeat center center;
	float:left;
}
.steps_cur{ color:#40a8eb; border-bottom:4px solid #40a8eb;}
.disclose{
	width:726px;
	height:auto;
	margin:0 auto;
}
.disclose_title{
	width:100%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #cccccc;
	margin-top:20px;
	font-size:18px;
}
.disclose_title span{ float:right; font-size:12px; color:#666666;}
.disclose_title a{ color:#ff6600 !important;}
.disclose_title label{ color:#999999; font-size:12px;}
.disclose_con{
	width:726px;
	height:auto;
	padding:20px 0 20px 0;
}
.disclose_hang{
	width:100%;
	height:auto;
	line-height:38px;
	margin-top:10px;
	overflow:hidden;
	float:left;
}
.disclose_name{
	width:240px;
	height:38px;
	float:left;
	text-align:right;
	padding-right:10px;
	font-size:16px;
	color:#333333;
}
.disclose_nei{
	width:400px;
	height:38px;
	float:left;
	padding-right:10px;
	font-size:16px;
	color:#333333;
}
.disclose_r{
	height:38px;
	float:left;
	padding-left:10px;
	color:#ff0000;
	line-height:38px;
}
.disclose_r img{ float:left; width:20px; height:20px; margin:8px 8px 0 0;}
.disclose_text{
	width:204px;
	height:36px;
	line-height:36px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
	margin-right:10px;
}
.disclose_day{
	width:127px;
	height:36px;
	line-height:36px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
	background:url(../images/icon_12.jpg) no-repeat 178px center;
}
.disclose_day1{
	width:116px;
	height:28px;
	line-height:28px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
	background:url(../images/icon_12.jpg) no-repeat 100px center;
}
.disclose_wu{
	float:left;
	padding:0 0 0 15px;
}
.disclose_wu input[type=checkbox].checkbix+label{ margin:9px 0px 0 0;}
.disclose_text1{
	width:114px;
	height:36px;
	line-height:36px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
	margin-right:10px;
}
.disclose_text2{
	width:64px;
	height:36px;
	line-height:36px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
	margin-right:10px;
}
.disclose_select{
	width:216px;
	height:38px;
	line-height:38px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
	margin-right:10px;
}
.disclose_select1{
	width:105px;
	height:38px;
	line-height:38px;
	float:left;
	border:1px solid #cccccc;
	padding-left:10px;
	font-size:14px;
	border-radius:3px;
	margin-right:6px;
}
.textarea{
	width:194px;
	height:54px;
	line-height:18px;
	float:left;
	border:1px solid #cccccc;
	padding:10px;
	font-size:14px;
	border-radius:3px;
	margin-left:250px;
	display:inline;
	margin-top:2px;
}
.pic{
	width:92px;
	height:92px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right:25px;
	float:left;
	cursor:pointer;
	border-radius:2px;
	background:url(../images/jia.jpg) no-repeat;
}

.disclose_img{
	width:300px;
	height:auto;
	float:left;
}
.disclose_img_con{
	width:100%;
	height:92px;
}
.disclose_img_zi{
	width:100%;
	height:auto;
	line-height:18px;
	color:#999999;
	margin-top:6px;
	clear:both;
}
.disclose_yan{
	width:80px;
	height:37px;
	line-height:37px;
	display:block;
	background:#f08519;
	text-align:center;
	border:none;
	color:#ffffff;
	cursor:pointer;
	float:left;
	border-radius:3px;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
font-size:12px;
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
font-size:12px;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
font-size:12px;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
font-size:12px;
}
.disclose_tijiao{
	width:100%;
	height:39px;
	margin:30px auto 0 auto;
	padding-left:250px;
	padding-bottom:50px;
}
.disclose_tijiao a{
	width:156px;
	height:39px;
	float:left;
	line-height:39px;
	text-align:center;
	color:#ffffff !important;
	background:url(../images/button1.png) no-repeat;
	font-size:16px;
	margin-right:50px;
}
.disclose_tijiao_b{
	width:126px;
	height:39px;
	float:left;
	line-height:39px;
	text-align:center;
	color:#333333 !important;
	background:url(../images/button3.png) no-repeat;
	font-size:16px;
}
.disclose_fang{
	float:left;
	position:relative;
}
.disclose_fang label{
	width:100%;
	height:92px;
	background:url(../images/cha.png) center center;
	position:absolute;
	top:0px;
	cursor:pointer;
	left:0px;
}

.financing_nav{
	width:1126px;
	height:40px;
	line-height:40px;
	background:url(../images/curve_bg.jpg) repeat-x;
	border-right:1px solid #425261;
	border-left:1px solid #425261;
	margin-top:25px;
}
.financing_nav li{
	float:left;
	height:40px;
	font-size:14px;
	margin-left:-1px;
}
.financing_nav li a{ color:#ffffff; padding:0 27px 0 27px; display:block;}
.financing_nav li a:hover{ background:url(../images/financing_bg.jpg) repeat-x; border-right:1px solid #164190; border-left:1px solid #164190;}
.financing_cur a:link{ background:url(../images/financing_bg.jpg) repeat-x; border-right:1px solid #164190; border-left:1px solid #164190;}
.financing_cur a:visited{ background:url(../images/financing_bg.jpg) repeat-x; border-right:1px solid #164190; border-left:1px solid #164190;}
.financing_cur a:hover{ background:url(../images/financing_bg.jpg) repeat-x; border-right:1px solid #164190; border-left:1px solid #164190;}
.financing_upload{
	width:100%;
	height:60px;
	margin-top:15px;
}
.financing_up{
	width:172px;
	height:59px;
	line-height:60px;
	background:url(../images/upload.png) no-repeat;
	font-size:18px;
	color:#666666 !important;
	float:left;
	padding-left:45px;
	text-shadow: 1px 1px 1px #ffffff; 
}
.financing_upload span{ float:left; line-height:16px; padding:40px 0 0 10px; color:#999999; font-size:14px;}
.financing_a{ float:left; display:inline; margin-left:10px;}
.financing_b{ float:right; display:inline; margin-right:10px;}
.c-upload{
	width:167px;
	height:59px;
	font-size:14px;
	font-weight:bold;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right:20px;
	float:left;
	background:url(../images/download.png) no-repeat;
	font-size:18px;
	color:#666666;
	text-shadow: 1px 1px 1px #ffffff;
	line-height:59px;
	padding-left:50px;
}
.c-upload  input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}
.upload_an{
	width:485px;
	height:59px;
	line-height:59px;
	margin-top:80px;
	padding-left:115px;
}
.upload_que{
	width:126px;
	height:40px;
	line-height:40px;
	display: inline-block;
	text-align:center;
	font-size:16px;
	background:#eeeeee;
	border:1px solid #cccccc;
	border-radius:5px;
	color:#999999 !important;
	margin-top:10px;
}
.upload_que1{
	width:126px;
	height:40px;
	line-height:40px;
	display: inline-block;
	text-align:center;
	font-size:16px;
	background:#ff6600;
	border:1px solid #ff6600;
	border-radius:5px;
	color:#ffffff !important;
	margin-top:10px;
}
.upload_nei{
	width:370px;
	height:auto;
	line-height:24px;
	font-size:14px;
	margin:30px auto 0 auto;
	color:#666666;
}
.upload_nei a{ color:#ff6600 !important;}
.upload_list{
	width:580px;
	height:308px;
	padding:0px 0 0 20px;
	overflow-y:auto;
	overflow-x:hidden;
}
.upload_list span{ float:left; margin:15px 0px 0 0;}
.upload_list li{
	width:90px;
	height:90px;
	float:left;
	position:relative;
	margin:15px 20px 0 0;
	border:1px solid #cccccc;
	border-radius:2px;
}
.upload_list li a{ display:block;}
.upload_close{
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	top:-25px;
	right:-10px;
	background:url(../images/ti1.png) no-repeat right center;
	background-size:20px 20px;
}
.d-upload {
	width:92px;
	height:92px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.d-upload  input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}
.upload_ti{
	width:560px;
	height:30px;
	line-height:30px;
	font-size:14px;
	padding:20px 0 0 40px;
}
.popup_hang1{ float:left; height:92px; line-height:38px; margin-top:25px; width:500px; padding-left:100px;}
.popup_nei1{
	width:100%;
	height:84px;
	text-align:center;
	line-height:30px;
	font-size:16px;
	padding:24px 0 0 0;
}
.popup_nei2{
	width:90%;
	height:98px;
	line-height:24px;
	font-size:14px;
	padding:10px 5% 0 5%;
	color:#666666;
}
.popup_nei2 b{ color:#000000;}
.position{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:24px;
	color:#000000;
	padding-bottom:25px;
}
.position span{
	float:left;
	width:4px;
	height:22px;
	margin:5px 12px 0 0;
	background:#3e70ca;
}
.message_top{
	width:100%;
	height:30px;
	line-height:30px;
	padding-top:30px;
	font-size:16px;
}
.message_top input[type=checkbox].checkbix+label{ font-size:16px; color:#000000;}
.message_list{
	width:100%;
	height:auto;
}
.message_list li{
	width:100%;
	height:auto;
	float:left;
	margin-top:10px;
	background:#ffffff;
	border-bottom:1px solid #cccccc;
}
.faqs_title{
	width:100%;
	height:50px;
	line-height:50px;
	color:#000000;
	overflow:hidden;
	font-size:18px;
	cursor:pointer;
}
.faqs_title img{ float:right; margin-top:20px;}
.faqs_title a{ color:#333333 !important;}
.faqs_title label{
	float:left;
	width:8px;
	height:8px;
	margin:20px 10px 0 0;
	background:#3e70ca;
	border-radius:500px;
}
.faqs_title span{ float:right; color:#999999; font-size:16px; margin-right:30px;}
.faqs_nei{
	width:1112px;
	height:auto;
	padding:15px 18px 15px 18px;
	line-height:24px;
	font-size:16px;
	display:none;
	border-top:1px dotted #cccccc;
	color:#666666;
}
.financing_mi{
	width:100%;
	height:30px;
	line-height:30px;
	color:#666666;
	margin-top:20px;
	font-size:14px;
}
.financing_mi img{ float:left; width:16px; height:16px; margin:8px 10px 0 0;}
.financing_mi_ti{
	width:360px;
	height:40px;
	margin-top:30px;
	float:left;
	padding-left:250px;
}
.financing_submit{
	width:214px;
	height:40px;
	border:1px solid #ff6600;
	line-height:40px;
	text-align:center;
	font-size:16px;
	color:#ffffff;
	background:#ff6600;
	cursor:pointer;
	border-radius:5px;
}
.financing_he{
	width:100%;
	height:auto;
	padding:30px 0 50px 0;
	color:#666666;
}
.financing_he table{ border:1px solid #cccccc; border-collapse:collapse;}
.financing_he table td{ border:1px solid #cccccc; height:24px; line-height:24px; text-align:center; font-size:14px; padding:12px 10px 12px 10px;}
.financing_he table span{ font-size:18px; color:#3e70ca; font-weight:bold;}
.financing_he_head{ background:#eeeeee; color:#000000; font-size:18px;}
.account_top{
	width:1128px;
	height:152px;
	padding:30px 0 30px 0;
	border-bottom:1px dotted #cccccc;
}
.account_shou{
	width:520px;
	height:120px;
	float:left;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-left:3px solid #ff6600;
	margin-right:30px;
	padding:15px 0 15px 20px;
	line-height:30px;
	font-size:18px;
	position:relative;
	background:url(../images/account_01.jpg) no-repeat right center;
	border-radius:3px;
}
.account_hui{
	width:520px;
	height:120px;
	float:left;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-left:3px solid #3e70ca;
	padding:15px 0 15px 20px;
	line-height:30px;
	font-size:18px;
	position:relative;
	background:url(../images/account_02.jpg) no-repeat right center;
	border-radius:3px;
}
.account_ti{
	width:80px;
	height:30px;
	display:block;
	border-radius:5px;
	background:#3e70ca;
	color:#ffffff !important;
	text-align:center;
	line-height:30px;
	font-size:14px;
	position:absolute;
	right:13px;
	bottom:13px;
}
.account_ti:hover{
	width:80px;
	height:30px;
	display:block;
	border-radius:5px;
	background:#184ba6;
	color:#ffffff !important;
	text-align:center;
	line-height:30px;
	font-size:14px;
	position:absolute;
	right:13px;
	bottom:13px;
}
.account_top .account_xiang{
	float:right;
	font-size:14px;
	text-decoration:underline;
	background:url(../images/jiao3.png) no-repeat right center;
	background-size:8px auto;
	padding-right:15px;
	line-height:30px;
	margin-right:15px;
	color:#ff6600 !important;
	text-decoration:underline;
}
.account_title{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:24px;
	color:#000000;
	margin-top:20px;
}
.account_title span{
	float:left;
	width:6px;
	height:6px;
	margin:12px 10px 0 0;
	background:#3e70ca;
}
.apply_biao{
	width:600px;
	height:400px;
	border:1px solid #cccccc;
	margin-top:20px;
}
.account_chuan{
	width:100%;
	height:auto;
	margin-top:20px;
	padding-bottom:30px;
	border-bottom:1px solid #cccccc;
}
.account_text{ width:220px; margin-right:10px;}
.account_chuan a{ color:#3E70CA !important; line-height:22px; text-decoration:underline;}
.account_yue{
	width:100%;
	height:30px;
	line-height:30px;
	margin-top:20px;
	font-size:14px;
}
.account_yue a{ color:#3e70ca !important;}
.account_yue a:hover{ color:#ff6600 !important;}
.account_yue input[type=checkbox].checkbix+label{ margin:6px 5px 0 0;}
.account_bot{
	width:100%;
	height:40px;
	line-height:40px;
	margin-top:20px;
	background:#eeeeee;
	margin-bottom:30px;
	padding:8px 0 8px 0;
	font-size:14px;
}
.account_day{ float:left; width:400px; padding-left:15px;}
.account_day b{ font-size:18px; font-weight:bold; color:#ff0000 !important;}
.account_bot a{
	width:100px;
	height:40px;
	float:right;
	background:#ff6600;
	border-radius:5px;
	text-align:center;
	color:#ffffff !important;
	line-height:40px;
	margin-right:15px;
}
.account_bot a:hover{
	width:100px;
	height:40px;
	float:right;
	background:#d05707;
	border-radius:5px;
	text-align:center;
	color:#ffffff;
	line-height:40px;
	margin-right:15px;
}
.xieyi{
	width:560px;
	height:379px;
	padding:20px;
	line-height:24px;
	overflow-x:hidden;
	overflow-y:auto;
}
.gong_left{
	width:310px;
	height:auto;
	float:left;
	margin-right:30px;
}
.gong_right{
	width:860px;
	height:auto;
	float:left;
}
.gong_he{
	width:288px;
	height:auto;
	border:1px solid #cccccc;
	background:#ffffff;
	padding:10px;
}
.gong_he_top{
	width:100%;
	line-height:30px;
	text-align:center;
	color:#666666;
	font-size:14px;
	padding-top:10px;
}
.gong_he_top b{ font-size:18px; color:#000000;}
.gong_he_du{
	width:288px;
	height:90px;
	margin-top:20px;
}
.gong_he_zong{
	width:139px;
	height:90px;
	float:left;
	margin-right:10px;
	background:#f2f2f2;
	text-align:center;
	border-radius:5px;
	overflow:hidden;
}
.gong_he_ke{
	width:139px;
	height:90px;
	float:left;
	background:#f2f2f2;
	text-align:center;
	border-radius:5px;
	overflow:hidden;
}
.gong_he_title{
	width:100%;
	height:40px;
	line-height:40px;
	background:#ffac5c;
	color:#ffffff;
	display:block;
	font-size:18px;
	font-weight:bold;
}
.gong_he_title1{
	width:100%;
	height:40px;
	line-height:40px;
	background:#32d65d;
	color:#ffffff;
	display:block;
	font-size:18px;
	font-weight:bold;
}
.gong_he_money{
	width:100%;
	height:50px;
	line-height:50px;
	color:#333333;
	font-size:18px;
	display:block;
}
.gong_he_tong{
	width:100%;
	height:40px;
	line-height:40px;
	margin-top:15px;
	background:#f2f2f2;
	border-radius:5px;
}
.gong_he_tong a{
	display:block;
	width:168px;
	height:40px;
	background:url(../images/icon_16.png) no-repeat 80px center;
	background-size:25px 25px;
	padding-left:120px;
	font-size:16px;
	color:#000000 !important;
	position:relative;
}
.gong_he_tong a span{
	display:block;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	background:#ff0000;
	border-radius:500px;
	color:#ffffff;
	font-size:12px;
	position:absolute;
	top:5px;
	left:185px;
}
.news{
	width:288px;
	height:429px;
	border:1px solid #cccccc;
	margin-top:15px;
	padding:0 10px 0 10px;
	background:#ffffff;
	overflow:hidden;
}
.news_title{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	position:relative;
}
.news_title a{
	position:absolute;
	top:0px;
	right:10px;
	height:40px;
	font-size:12px;
	font-weight:normal;
}
.news_title span{
	background:url(../images/icon_17.png) no-repeat left center;
	background-size:20px 20px;
	padding-left:30px;
	display:inline-block;
}
.news_list{
	width:288px;
	height:auto;
}
.news_list li{
	width:288px;
	height:44px;
	float:left;
	overflow:hidden;
	padding:10px 0 10px 0;
	border-top:1px solid #cccccc;
}
.news_day{
	width:54px;
	height:40px;
	float:left;
	background:#eeeeee;
	text-align:center;
	line-height:20px;
	font-size:14px;
	padding:2px 0 2px 0;
	margin-right:10px;
}
.news_list li a{
	width:224px;
	height:44px;
	float:left;
	font-size:14px;
	line-height:22px;
	overflow:hidden;
}
.news_list li .news_se{ color:#ff6600;}
.gong_adv{
	width:860px;
	height:261px;
}
.gong_adv img{ display:block; width:100%;}
.gong_e{
	width:100%;
	height:150px;
	margin-top:15px;
}
.gong_e_con{
	width:420px;
	height:150px;
	float:left;
	background:#ffffff;
	overflow:hidden;
	margin-right:20px;
}
.gong_e_l{
	width:20px;
	height:130px;
	float:left;
	background:#32D65D;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:20px 15px 0 15px;
	border-radius:5px 0 0 5px;
}
.gong_e_l1{
	width:20px;
	height:130px;
	float:left;
	background:#ff6600;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:20px 15px 0 15px;
	border-radius:5px 0 0 5px;
}
.gong_e_r{
	width:370px;
	height:115px;
	float:left;
	text-align:center;
	font-size:18px;
	line-height:40px;
	padding-top:35px;
	color:#333333;
}
.gong_e_r b{ color:#ff0000; font-size:26px;}
.gong_biao{
	width:858px;
	height:260px;
	margin-top:15px;
	text-align:center;
	border:1px solid #cccccc;
	background:#ffffff;
}
.hetong{
	width:100%;
	height:auto;
	padding:0px 0 0 0;
	position:relative;
}
.hetong_title{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:24px;
	border-bottom:1px dotted #cccccc;
	padding-bottom:15px;
}
.hetong_xia{ display:block; font-size:16px; position:absolute; right:0px; color:#ff6600 !important; text-decoration:underline; top:25px; z-index:1000000;}
.hetong_nei{
	width:100%;
	height:auto;
	margin-top:20px;
	line-height:24px;
	font-size:14px;
}
.hetong_nei table{ border:1px solid #cccccc; border-collapse:collapse;}
.hetong_nei table td{ border:1px solid #cccccc; padding:10px 0 10px 0; text-align:center;}
.zhang{ position:relative; width:100%; height:100px; line-height:100px; padding:10px 0 10px 0;}
.zhang span{ float:left;}
.zhang img{
	width:100px;
	height:100px;
	float:left;
	margin-left:-70px;
}
.splitpage {
  margin:30px auto 0 auto;
  page-break-after: always;
}

.he_login{
	width:100%;
	height:539px;
}
.he_login_con{
	width:1190px;
	height:437px;
	margin:0 auto;
	padding:102px 0 0 0;
}
.he_login_mid{
	width:344px;
	height:354px;
	float:right;
	background:#ffffff;
}
.he_login_header{
	width:100%;
	height:52px;
	line-height:52px;
	background:#efefef;
	text-align:center;
	font-size:24px;
	color:#295895;
}
.he_login_nei{
	width:294px;
	height:auto;
	margin:0 auto;
}
.he_login_title{
	width:100%;
	height:52px;
	line-height:52px;
	font-size:14px;
	display:block;
}
.he_login_text{
	display:block;
	width:262px;
	height:40px;
	border:1px solid #dbdbdb;
	line-height:40px;
	background:url(../images/login_01.jpg) no-repeat 10px center;
	padding-left:30px;
	font-size:14px;
}
.he_login_ti{
	display:block;
	width:100%;
	height:40px;
	line-height:30px;
	color:#e13a3e;
}
.he_login_button{
	display:block;
	width:100%;
	height:42px;
	border-radius:5px;
	background:#3E70CA;
	font-size:18px;
	color:#ffffff;
	cursor:pointer;
	border:none;
}
.he_login_bot{
	display:block;
	width:100%;
	height:30px;
	margin-top:10px;
	line-height:30px;
	font-size:14px;
}
.he_login_reg:link{ float:right; color:#e13a3e !important; text-decoration:underline;}
.he_login_reg:visited{ float:right; color:#e13a3e !important; text-decoration:underline;}
.he_login_reg:hover{ float:right; color:#e13a3e !important; text-decoration:underline;}
.he_login_bot{
	width:294px;
	height:20px;
	line-height:20px;
	margin:0 auto;
	font-size:14px;
	padding-bottom:10px;
}

.xiugai_ti{
	width:100%;
	height:auto;
	font-size:14px;
	border-bottom:1px dotted #cccccc;
	padding:15px 0 15px 0;
	line-height:24px;
	color:#666666;
}
.xiugai_table{
	width:100%;
	height:auto;
	padding:30px 0 30px 0;
	color:#666666;
}
.xiugai_table table{ border:1px solid #cccccc; border-collapse:collapse;}
.xiugai_table table td{ border:1px solid #cccccc; height:24px; line-height:24px; text-align:center; font-size:14px; padding:12px 10px 12px 10px;}
.xiugai_table table span{ font-size:18px; color:#3e70ca; font-weight:bold;}
.xiugai_table input[type=checkbox].checkbix+label {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: inherit;
	-webkit-transition: all 250ms cubic-bezier(.4, 0, .23, 1);
	transition: all 250ms cubic-bezier(.4, 0, .23, 1);
    margin-bottom:.15rem;
	font-size:14px;
	color:#666666;
	margin-right:0px;
	float:none;
}
.xiugai_bei{
	width:100%;
	height:auto;
	padding-bottom:30px;
}
.xiugai_bei_ti{
	width:100%;
	height:auto;
	line-height:30px;
	font-size:14px;
}
.xiugai_bei_list{
	width:100%;
	height:auto;
	margin-top:10px;
}
.xiugai_bei_list li{
	width:100%;
	float:left;
	height:auto;
	padding:15px 0 15px 0;
	border-bottom:1px dotted #cccccc;
	font-size:16px;
	line-height:30px;
	color:#3e70ca;
}
.xiugai_bei_list li a{
	float:right;
	width:90px;
	height:30px;
	text-align:center;
	color:#ffffff !important;
	background:#ff6600;
	border-radius:5px;
}