<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cyl.dao.Clear_branch_infoDao">
  
  <sql id="columns">
		a.id,
		a.platform_service_charge,
		a.core_service_charge,
		a.supplier_tail_money,
		a.bank_money,
		a.platform_service_url,
		a.core_service_url,
		a.supplier_tail_url,
		a.bank_money_url,
		a.financing_id AS "financingId.id",
		a.CREATE_BY AS "createBy.id",
		a.CREATE_DATE AS "createDate",
		a.UPDATE_BY AS "updateBy.id",
		a.UPDATE_DATE AS "updateDate",
		a.REMARKS AS "remarks",
		a.DEL_FLAG AS "delFlag"
	</sql>
	
	<sql id="joins">
		LEFT JOIN financing_info b on a.financing_id = b.id
	</sql>
    
	<select id="get" resultType="Clear_branch_info">
		SELECT 
			<include refid="columns"/>
		FROM clear_branch_info a
			<include refid="joins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Clear_branch_info">
		SELECT 
			<include refid="columns"/>
		FROM clear_branch_info a
			<include refid="joins"/>
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="financingId != null and financingId.id != null and financingId.id != ''">
			AND a.financing_id = #{financingId.id}
		</if>
		ORDER BY a.create_date DESC
	</select>
	
	<select id="findAllList" resultType="Clear_branch_info">
		SELECT 
			<include refid="columns"/>
		FROM clear_branch_info a
			<include refid="joins"/>
		WHERE a.del_flag = #{DEL_FLAG_NORMAL} 
		ORDER BY a.create_date DESC
	</select>
	
	<select id="findCount" resultType="Long">
		SELECT 
			count(1)
		FROM clear_branch_info a
			<include refid="joins"/>
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="financingId != null and financingId.id != null and financingId.id != ''">
			AND a.financing_id = #{financingId.id}
		</if>
	</select>
	
	<insert id="insert">
		INSERT INTO clear_branch_info(
			id,
			platform_service_charge,
			core_service_charge,
			supplier_tail_money,
			bank_money,
			platform_service_url,
			core_service_url,
			supplier_tail_url,
			bank_money_url,
			financing_id,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			REMARKS,
			DEL_FLAG
		) VALUES (
			#{id},
			#{platformServiceCharge},
			#{coreServiceCharge},
			#{supplierTailMoney},
			#{bankMoney},
			#{platformServiceUrl},
			#{coreServiceUrl},
			#{supplierTailUrl},
			#{bankMoneyUrl},
			#{financingId.id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE clear_branch_info SET 
			platform_service_charge = #{platformServiceCharge},
			core_service_charge = #{coreServiceCharge},
			supplier_tail_money = #{supplierTailMoney},
			bank_money = #{bankMoney},
			platform_service_url = #{platformServiceUrl},
			core_service_url = #{coreServiceUrl},
			supplier_tail_url = #{supplierTailUrl},
			bank_money_url = #{bankMoneyUrl},
			financing_id = #{financingId.id},
			create_by = #{createBy.id},
			CREATE_DATE = #{createDate},
			UPDATE_BY = #{updateBy.id},
			UPDATE_DATE = #{updateDate},
			REMARKS = #{remarks},
			DEL_FLAG = #{delFlag}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM clear_branch_info
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE clear_branch_info SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
</mapper>