<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cyl.dao.Contract_infoDao">
  
  <sql id="columns">
		a.id,
		a.name,
		a.url,
		a.financing_id AS "financingId.id",
		a.type,
		a.CREATE_BY AS "createBy.id",
		a.CREATE_DATE AS "createDate",
		a.UPDATE_BY AS "updateBy.id",
		a.UPDATE_DATE AS "updateDate",
		a.REMARKS AS "remarks",
		a.DEL_FLAG AS "delFlag"
	</sql>
	
	<sql id="joins">
		LEFT JOIN financing_info b on a.financing_id = b.id
		LEFT JOIN bill_info c on b.bill_id = c.id
		LEFT JOIN core_enterprise d on c.core_enterprise_id = d.id
		LEFT JOIN supplier_enterprise e on c.supplier_enterprise_id = e.id
	</sql>
    
	<select id="get" resultType="Contract_info">
		SELECT 
			<include refid="columns"/>
		FROM contract_info a
			<include refid="joins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Contract_info">
		SELECT 
			<include refid="columns"/>
		FROM contract_info a
			<include refid="joins"/>
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="type != null and type != ''">
			AND a.type = #{type}
		</if>
		<if test="name != null and name != ''">
			AND a.name LIKE 
			<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
			<if test="dbName == 'mysql'">CONCAT('%', #{name}, '%')</if>
		</if>
		<if test="financingId != null and financingId.id != null and financingId.id != ''">
			AND a.financing_id = #{financingId.id}
		</if>
		<if test="financingId != null and financingId.billId != null and financingId.billId.supplierEnterpriseId != null and financingId.billId.supplierEnterpriseId.id != null and financingId.billId.supplierEnterpriseId.id != ''">
			AND c.supplier_enterprise_id = #{financingId.billId.supplierEnterpriseId.id}
		</if>
		<if test="financingId != null and financingId.billId != null and financingId.billId.coreEnterpriseId != null and financingId.billId.coreEnterpriseId.id != null and financingId.billId.coreEnterpriseId.id != ''">
			AND c.core_enterprise_id = #{financingId.billId.coreEnterpriseId.id}
		</if>
		ORDER BY a.create_date DESC
	</select>
	
	<select id="findAllList" resultType="Contract_info">
		SELECT 
			<include refid="columns"/>
		FROM contract_info a
			<include refid="joins"/>
		WHERE a.del_flag = #{DEL_FLAG_NORMAL} 
		ORDER BY a.create_date DESC
	</select>
	
	<select id="findCount" resultType="Long">
		SELECT 
			count(1)
		FROM contract_info a
			<include refid="joins"/>
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="type != null and type != ''">
			AND a.type = #{type}
		</if>
		<if test="name != null and name != ''">
			AND a.name LIKE 
			<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
			<if test="dbName == 'mysql'">CONCAT('%', #{name}, '%')</if>
		</if>
		<if test="financingId != null and financingId.id != null and financingId.id != ''">
			AND a.financing_id = #{financingId.id}
		</if>
		<if test="financingId != null and financingId.billId != null and financingId.billId.supplierEnterpriseId != null and financingId.billId.supplierEnterpriseId.id != null and financingId.billId.supplierEnterpriseId.id != ''">
			AND c.supplier_enterprise_id = #{financingId.billId.supplierEnterpriseId.id}
		</if>
		<if test="financingId != null and financingId.billId != null and financingId.billId.coreEnterpriseId != null and financingId.billId.coreEnterpriseId.id != null and financingId.billId.coreEnterpriseId.id != ''">
			AND c.core_enterprise_id = #{financingId.billId.coreEnterpriseId.id}
		</if>
	</select>
	
	<insert id="insert">
		INSERT INTO contract_info(
			id,
			name,
			url,
			financing_id,
			type,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			REMARKS,
			DEL_FLAG
		) VALUES (
			#{id},
			#{name},
			#{url},
			#{financingId.id},
			#{type},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE contract_info SET 
			name = #{name},
			url = #{url},
			financing_id = #{financingId.id},
			type = #{type},
			create_by = #{createBy.id},
			CREATE_DATE = #{createDate},
			UPDATE_BY = #{updateBy.id},
			UPDATE_DATE = #{updateDate},
			REMARKS = #{remarks},
			DEL_FLAG = #{delFlag}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM contract_info
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE contract_info SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
</mapper>