<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.esign.dao.SignFlowStartDao">
    <update id="callBackSave">
        update t_user_esign_contact e
        set e.signTime = #{signTime,jdbcType=VARCHAR},
        e.signResult = #{signResult,jdbcType=VARCHAR},
        e.resultDescription = #{resultDescription,jdbcType=VARCHAR}
        where e.process_id = #{flowId,jdbcType=VARCHAR},
        and e.user_id = #{accountId,jdbcType=VARCHAR}
    </update>
</mapper>