<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.esign.dao.SignFlowStartDao">
    <update id="callBackSave" parameterType="string">
        update t_user_esign_contact e
        set e.signTime = #{signTime},
        e.signResult = #{signResult},
        e.resultDescription = #{resultDescription}
        where e.process_id = #{flowId},
        and e.user_id = #{accountId}
    </update>
</mapper>